.custom-navbar {
    background-color: #007bff; /* Primary blue color */
}

.custom-navbar .nav-link {
    color: #bbb; /* Default link color */
    padding: 10px 15px; /* Add padding to the text */
 /* Move the text 10px towards the right */
}
.txt {
    font-weight: bold; /* Make the text bold */
    padding-left: 20px;
    font-size: 24px; /* Make the text bigger */
}
.custom-navbar .nav-link:hover {
    color: #fff; /* Hover link color */
}

.custom-navbar .nav-link.active {
    text-decoration: underline;
    color: #fff; /* Active link color */
}

.custom-navbar .navbar-nav {
    margin-left: auto;
}